<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzi.cms.server.mapper.UseResidentMapper">
   <!-- 条件分页查询 -->
   <select id="findAll" resultType="UseResidentVo" parameterType="String">

        select * from use_resident ur
   		<where>
   		    1=1
   			<if test="criteria != null and criteria !=''">
   				<bind name="pun" value="'%'+_parameter.criteria+'%'"/>
   				and (ur.name like #{pun} or ur.mobile like #{pun})
   			</if>



   		</where>
   		order by createTime desc
   	</select>

   <!-- 条件分页查询 -->
      <select id="residentList" resultType="UseResidentVo" parameterType="String">

		  select ur.*,(select contactName from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedName,(select contactMobile from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedMobile, (select detail from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedDetail,
		  (select city from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedCity,(select country from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedCountry,(select town from use_resident_address a  where a.type ='10' and a.wxId = ur.wxId) as definedTown
		  from use_resident ur
		  <where>
      		    1=1
      			<if test="criteria != null and criteria !=''">
      				<bind name="pun" value="'%'+_parameter.criteria+'%'"/>
      				and (ur.name like #{pun} or ur.mobile like #{pun})
      			</if>
				<if test="type != null and type !=''">
					and ur.residentType = #{type}
				</if>

      		</where>
      		order by createTime desc
      	</select>


   <select id="residentCount" resultType="long" parameterType="String">
     		SELECT count(1) from use_resident ur
     		<where>
     			1=1
     			<if test="criteria != null and criteria !=''">
     				<bind name="pun" value="'%'+_parameter.criteria+'%'"/>
     				and (ur.name like #{pun} or ur.mobile like #{pun})
     			</if>
				<if test="type != null and type !=''">
					and ur.residentType = #{type}
				</if>
     		</where>
     	</select>




   	<select id="findCount" resultType="long" parameterType="String">
   		SELECT count(1) from use_resident ur
   		<where>
   			1=1
   			<if test="criteria != null and criteria !=''">
   				<bind name="pun" value="'%'+_parameter.criteria+'%'"/>
   				and (ur.name like #{pun} or ur.mobile like #{pun})
   			</if>


   		</where>
   	</select>





</mapper>